.navi{
    background-color: #bcd2ee;
    padding: 0 20px;
    height: 60px;
}

.navi, .navi * {
  font-family: 'Roboto', sans-serif !important; // Apply Roboto font to all elements within .navi
  font-weight: 500;
}