.navi{
    background-color: #bcd2ee;
    color: rgb(0, 0, 0); // Set text color to white
    font-family: 'Roboto', sans-serif; // Set font to Roboto
    font-weight: bold; // Make the text bold
    padding: 0 20px;
    height: 60px;
}

.navi, .navi * {
  color: rgb(0, 0, 0); // Set text color to white
  font-family: 'Roboto', sans-serif; // Set font to Roboto
  font-weight: bold; // Make the text bold
}