@use 'scss-reset/reset';
@use 'header.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root {
  background-color: #FFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
// #490b3d purple #bd1e51# pink f1b814 yellow

p{
  color: #490b3d;
}

